* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
}

body{
  background: linear-gradient(90deg, rgba(162, 229, 224, 1) 0%, rgba(218, 229, 255, 1) 100%);
  color: #5B6361;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}